.vertical-menu {
  width: 100px;
}

.vertical-menu a {
  cursor: pointer;
  background-color: #eee;
  color: black;
  display: table-cell;
  padding: 12px;
  text-decoration: none;
}
.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #000000;
  color: white;
}