.vertical-menu {
  width: 100px;
}

.vertical-menu a {
  cursor: pointer;
  background-color: #eee;
  color: black;
  display: table-cell;
  padding: 12px;
  text-decoration: none;
}
.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #000000;
  color: white;
}
.split {
  height: auto;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 20%;
}

/* Control the right side */
.right {
  right: 0;
  width: 80%;
}

.title{
  color: darkviolet;
  text-decoration: underline;
}